.ContactsList {
  margin-right: auto;
  margin-left: auto;
}
.ContactsItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.ContactsBtn {
  color: red;
  background-color: aliceblue;
}
